$var title: Smuggler
$var home: start selected
$var reports:
$var config:
$var pagescript: /static/script-index.js

<div id="content">
	<div class="report_index" id="new_categories">
		<p>The following Categories will be created on SmugMug during the next sync:</p>
	</div>
	<div class="report_index" id="new_subcategories">
		<p>The following SubCategories will be created under the shown Category on SmugMug during the next sync:</p>
	</div>
	<div class="report_index" id="new_albums">
		<p>The following Albums will be created with the given Category and SubCategory on SmugMug during the next sync:</p>
	</div>	
	<div class="report_index" id="up_down">
		<p>The following breaks out by album the number of images that need to be uploaded and/or downloaded:</p>
	</div>		
</div>

<div class="sidebar">
    <ul>	
       <li>
            <h3>Sync Actions</h3>
            <ul class="blocklist">
                <li><a id="fullsync" href="#">Full Sync (I trust you)</a></li>
                <li><a id="categories" href="#">Create Missing Categories</a></li>
                <li><a id="subcategories" href="#">Create Missing SubCats</a></li>
                <li><a id="albums" href="#">Create Missing Albums</a></li>
                <li><a id="upload" href="#">Upload Missing Images</a></li>
                <li><a id="download" href="#">Download Missing Images</a></li>
            </ul>
        </li>	
       <li>
            <h3>Scan Actions</h3>
            <ul class="blocklist">
                <li><a id="fullscan" href="#">Start Full Scan</a></li>
                <li><a id="localscan" href="#">Start Local Scan</a></li>
                <li><a id="smugmugscan" href="#">Start SmugMug Scan</a></li>
            </ul>
        </li>
    </ul> 
</div>


