$var title: Smuggler
$var home: start selected
$var reports:
$var config:
$var pagescript: static/script-index.js

<div id="content">
				
</div>

<div class="sidebar">
    <ul>	
       <li>
            <h3>Actions</h3>
            <ul class="blocklist">
                <li><a id="fullscan" href="#">Start Full Scan</a></li>
                <li><a id="localscan" href="#">Start Local Scan</a></li>
                <li><a id="smugmugscan" href="#">Start SmugMug Scan</a></li>
            </ul>
        </li>
    </ul> 
</div>


