$var title: Smuggler
$var home: start selected
$var reports:
$var config:
$var pagescript: /static/script-index.js

<div id="content">
	<div id="new_categories">
		<p>The following Categories will be created on SmugMug during the next sync:</p>
	</div>
	<div id="new_subcategories">
		<p>The following SubCategories will be created under the shown Category on SmugMug during the next sync:</p>
	</div>
	<div id="new_albums">
		<p>The following Albums will be created with the given Category and SubCategory on SmugMug during the next sync:</p>
	</div>		
</div>

<div class="sidebar">
    <ul>	
       <li>
            <h3>Actions</h3>
            <ul class="blocklist">
                <li><a id="fullscan" href="#">Start Full Scan</a></li>
                <li><a id="localscan" href="#">Start Local Scan</a></li>
                <li><a id="smugmugscan" href="#">Start SmugMug Scan</a></li>
            </ul>
        </li>
    </ul> 
</div>


