$def with (content)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>$content.title</title>
	<link rel="stylesheet" href="/static/sticky.full.css" type="text/css" />
	<link rel="stylesheet" href="/static/styles.css" type="text/css" />
</head>
<body>
	<div id="container">
		<div id="header">
	    	<h1><a href="/">Smuggler</a></h1>
	        <h2>should we have a witty slogan?</h2>
	        <div class="clear"></div>
	    </div>
	    <div id="nav">
	    	<ul>
	        	<li class="$content.home"><a href="/">Home</a></li>
	            <li class="$content.reports"><a href="/reports">Reports</a></li>
	            <li class="$content.config"><a href="#">Config</a></li>
	        </ul>
	    </div>
	    <div id="body">
			$:content
	    	<div class="clear"></div>
	    </div>
	    <div id="footer">
	        <div class="footer-bottom">
	            <p>Design by <a href="http://www.spyka.net" target="_blank">Free CSS Templates</a> | <a href="http://www.justfreetemplates.com" target="_blank">Free Web Templates</a></p>
	         </div>
	    </div>
	</div>
	
	<script type="text/javascript" src="/static/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/static/sticky.full.js"></script>
	<script type="text/javascript" src="$content.pagescript"></script>
</body>
</html>