$var title: Smuggler - Reports
$var home: 
$var reports: start selected
$var config: 
$var pagescript:  static/script-reports.js

<div id="subnav">
	<ul>
    	<li class=""><a href="#">Category</a></li>
        <li class=""><a href="#">Filename</a></li>
        <li class=""><a href="#">Local Albums</a></li>
        <li class=""><a href="#">SmugMug Albums</a></li>
        <li class=""><a href="#">Missing Pictures</a></li>
        <li class=""><a href="#">Duplicate Local Image</a></li>
        <li class=""><a href="#">Duplicate SmugMug Image</a></li>
    </ul>
</div>

<div id="content-full">

<h3>Mis-Matched Category Report</h3>
<p>This report will list all the albums that are found locally and on SmugMug that have different Catgory and/or Subcategory.</p>

<h3>Mis-Matched Filename Report</h3>
<p>This report will list local images that have the same MD5 Checksum as an image on SmugMug, but they have different filenames.</p>

<h3>Missing Local Albums Report</h3>
<p>This report will list all the albums on SmugMug that could not be found locally. This does not include albums that are found locally under different category and/or sub-category.</p>

<h3>Missing SmugMug Albums Report</h3>
<p>This report will list all the albums found locally that could not be found on SmugMug. This does not include albums that are found on SmugMug under different category and/or sub-category.</p>

<h3>Missing Pictures Report</h3>
<p>This report lists the number of images that need to be uploaded or downloaded for albums that are found both locally and on SmugMug.</p>

<h3>Duplicate Local Image Report</h3>
<p>This report lists the duplicate images found locally for an album. Note it does not include duplicates where the images are in different albums.</p>

<h3>Duplicate SmugMug Image Report</h3>
<p>This report lists the duplicate images found on SmugMug for an album. Note it does not include duplicates where the images are in different albums.</p>
</div>