$var title: Smuggler - Duplicate Local Image Report
$var home: 
$var reports: start selected
$var config: 
$var pagescript:  /static/script-reports-smugmugAlbum.js

<div id="subnav">
	<ul>
    	<li class=""><a href="/reports/category">Category</a></li>
        <li class=""><a href="/reports/filename">Filename</a></li>
        <li class=""><a href="/reports/localAlbum">Local Albums</a></li>
        <li class="start selected"><a href="/reports/smugmugAlbum">SmugMug Albums</a></li>
        <li class=""><a href="/reports/missingImage">Missing Pictures</a></li>
        <li class=""><a href="/reports/duplicateLocalImage">Duplicate Local Image</a></li>
        <li class=""><a href="/reports/duplicateSmugmugImage">Duplicate SmugMug Image</a></li>
    </ul>
</div>

<div id="content-full">
	<h2>Missing SmugMug Albums Report</h2>
	<p>This report will list all the albums found locally that could not be found on SmugMug. This does not include albums that are found on SmugMug under different category and/or sub-category.</p>

	<div id="spinner"><img src="/static/spinner.gif" alt="Please Wait"></div>
	<div id="results"></div>
</div>