$var title: Smuggler - Mis-Matched Category Report
$var home: 
$var reports: start selected
$var config: 
$var pagescript:  /static/script-reports-category.js

<div id="subnav">
	<ul>
    	<li class="start selected"><a href="/reports/category">Category</a></li>
        <li class=""><a href="#">Filename</a></li>
        <li class=""><a href="#">Local Albums</a></li>
        <li class=""><a href="#">SmugMug Albums</a></li>
        <li class=""><a href="#">Missing Pictures</a></li>
        <li class=""><a href="#">Duplicate Local Image</a></li>
        <li class=""><a href="#">Duplicate SmugMug Image</a></li>
    </ul>
</div>

<div id="content-full">
	<h2>Mis-Matched Category Report</h2>
	<p>This report will list all the albums that are found locally and on SmugMug that have different Catgory and/or Subcategory.</p>
	
	<div id="results"></div>
</div>